{{> header }}

<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <i class="fas fa-utensils fa-3x"></i>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a href="/" class="navbar-item">Home</a>
      <a href="/profile" class="navbar-item">Profile</a>
      <a href="/auth/logout" class="navbar-item">Logout</a>
    </div>
  </div>
</nav>

<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        User Profile
      </h1>
      <h2 class="subtitle">
        Your favourite restaurants
      </h2>
    </div>
  </div>
</section>

<form id="search-form">
  <div class="field is-grouped is-grouped-centered">
    <div class="field has-addons">
      <div class="control">
        <input class="input is-medium" type="text" placeholder="Restaurant name" id="postcode">
      </div>
      <div class="control">
        <button type="submit" class="button is-info is-medium">Filter</button>
      </div>
    </div>
  </div>
</form>

<section class="section">
  <div class="container is-fluid" id="main-body">
    <div class="columns is-multiline">
    {{#if restaurantList}}
      {{#each restaurantList}}
        <div class="column is-one-quarter">
          <article class="card">
            <header class="card-header">
              <p class="card-header-title">{{this.name}}</p>
              <p class="card-header-icon"><em>Rating: {{this.rating}}/5 ({{this.reviews}} reviews)</em></p>
            </header>
            <div class="card-image is-centered">
              <figure class="image is-3by2">
                <img src="{{this.image}}" alt="Restaurant Image">
              </figure>
            </div>
            <section class="card-content">
              <div class="content">
                <address class="address">
                  {{#each address}}
                  {{this}}<br>
                  {{/each}}
                </address>
                <p>{{this.phone}}</p>
                <p>Price: {{this.price}}</p>
              </content>
            </section>
            <footer class="card-footer">
              <a class="card-footer-item">Directions</a>
              <a class="card-footer-item">Reviews</a>
            </footer>
            <footer class="card-footer">
              <button class="card-footer-item button is-large is-danger" id="delete-btn" data-itemid="{{this._id}}">Delete</button>
            </footer>
          </article>
        </div>
      {{/each}}
    {{/if}}
    </div>
  </div>
</section>
<script src="/js/profile.js" charset="utf-8"></script>
{{> footer }}
